/* files from dashboard folder */


a {
  font-size: 2rem;
}

.text__dashboard {
  color: white;
  font-weight: bold;
}

.p__dashboard {
  font-size: 0.75rem;
  line-height: 0.938rem;
  font-weight: normal;
}

.h1__dashboard {
  font-size: 2.25rem;
  line-height: 3.375rem;
  margin: auto auto auto 2rem;
}

.h2__dashboard {
  font-size: 2.25rem;
  line-height: 3.375rem;

}

.h3__dashboard {
  font-size: 1.125rem;
  line-height: 1.688rem;
}

.image--centered {
  margin: auto;
  width: 70vw;
}

.workoutOverview {
  width: 100vw;
  display: flex;
  justify-content: space-between;
} 

.currentProgram {
  justify-content: flex-end;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 30vh;
  margin: auto;
  padding: 1rem;
  width: 90vw;
}
/* end */

/* exercise overview */

.programOption {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  margin: 2rem auto;
  width: 90vw;
}


.h2__exerciseOverview {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
} */
